<!-- icon start -->
<li class="nav-item" (click)="spatialSearchIcon('spatialSearch')">
  <a class="nav-link bottom-menu-btn" aria-current="page" href="javascript:void(0);" data-bs-toggle="tooltip"
    data-bs-placement="bottom" title="Spatial Search"><img src="assets/img/icon/8.svg" alt="Toolbar" /></a>
</li>
<!-- icon end -->


<div id="spatialSearch" class="tool-popup" [hidden]="!spatialSearchShow">
  <div class="tool-popup-header"> <img class="header-icon invert" src="assets/img/icon/8.svg"> Spatial Search
    <i class="fas fa-caret-down close-drag-window px-2 p-1" (click)="spatialSearchIcon('spatialSearch')"></i>
  </div>

  <div class="tool-popup-inner">
    <form class="">
      <div class="mb-3">
        <label class="mb-1" for="">Draw a geometry to filter by:</label>
        <div>
          <a href="javascript:void(0);" class="me-2 action-button esri-icon-lasso btn-primary" (click)="geometryButtonsClickHandler($event,'polygon')"
            id="point-geometry-button" title="Draw Freehand polygon"></a>
          <a href="javascript:void(0);" class="me-2 action-button esri-icon-checkbox-unchecked btn-success" title="Draw rectangle" (click)="geometryButtonsClickHandler($event,'rectangle')"
            id="line-geometry-button"></a>
          <a href="javascript:void(0);" class="me-2 action-button esri-icon-radio-unchecked btn-dark" title="Draw circle" (click)="geometryButtonsClickHandler($event,'circle')"
            id="polygon-geometry-button"></a>
        </div>
      </div>

      <div class="mb-3" *ngIf="decisionLayers.length">
        <label class="mb-1" for="">Decision Layers</label>
        <ng-multiselect-dropdown [placeholder]="'Select Decision Layers'" [settings]="dropdownSettings"
          [data]="decisionLayers" [(ngModel)]="selectedItems_Decision" (onSelectAll)="onSelectAll($event)"
          (onDeSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)">
        </ng-multiselect-dropdown>
      </div>

    </form>
  </div>
  <div class="tool-popup-footer text-end">
    <button type="button" class="btn btn-link me-2">Reset</button>
    <button type="button" class="btn btn-tool-popup" (click)="spatialSearchExecution()">Execute</button>
  </div>
</div>
