<nav class="navbar navbar-expand-lg navbar-light shadow sticky-top py-1" style="background: #ededed;">
    <div class="container-fluid">
        <a class="navbar-brand p-0" href="#"><img src="assets/img/logo-top.png" class="img-fluid"
                style="width: 350px;display: block;"></a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="d-flex list-unstyled ms-auto mb-0">
                <li class="pe-2 me-1" style="border-right: 1px solid #000"><i class="fas fa-search text-dark"></i></li>
                <li><a href="#!" class="text-decoration-none text-dark px-1">A-</a></li>
                <li><a href="#!" class="text-decoration-none text-dark px-1">A</a></li>
                <li><a href="#!" class="text-decoration-none text-dark px-1">A+</a></li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light shadow sticky-top bg-white py-1">
    <div class="container-fluid">
        <a class="navbar-brand p-0" href="#">
            <img src="assets/img/logo.png" style="width: 100px;">
            <img class="ms-3" src="assets/img/azadi-ka-amrit-mahotsav.png" style="width: 50px;">
        </a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
        <!-- top new Tool Bar Start -->
        <ul class="mx-auto bottom-toolbar position-relative w-100 justify-content-center" style="bottom: 0px;">
            <app-swipe></app-swipe>
            <app-query-builder></app-query-builder>
            <app-measure></app-measure>
            <app-buffer></app-buffer>
            <app-forest></app-forest>
            <app-spatial-search></app-spatial-search>
            <app-print></app-print>
            <app-screen-shot></app-screen-shot>
        </ul>
        <!-- top new Tool Bar End -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="ms-auto mb-0">
                <img src="assets/img/ministry-of-environment.png" style="width: 225px;">
            </ul>
        </div>
    </div>
</nav>