@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px;
    margin: 0;
}

.bg-light {
    background: #EEEEEE !important;
}

li.nav-item:last-child {
    border: none;
}

/*map-css-start*/
.font-15 {
    font-size: 15px;
}

.first-item:before {
    content: '';
    position: absolute;
    height: 81%;
    width: 2px;
    background: #FFBD00;
    right: -5px;
    top: 6px;
}

.bottom-toolbar {
    display: flex;
    list-style: none;
    margin: 0 auto;
    position: fixed;
    bottom: 50px;
    z-index: 9;
}

.bottom-toolbar .nav-link {
    white-space: nowrap;
    display: grid;
    font-size: 12px;
    padding: 0px 5px;
    text-align: center;
    transition: 0.5s;
    color: #fff;
}

.bottom-toolbar .nav-link .fas {
    font-size: 24px;
    width: 56px;
    height: 56px;
    color: #fff;
    background: #08950F;
    text-align: center;
    display: grid;
    place-content: center;
    border-radius: 8px;
    padding: 5px;
    margin: 0 auto;
    transition: 0.25s;
}

.bottom-toolbar .nav-link:hover .fas {
    background: #05670A;
    color: #fff;
    box-shadow: 0px 9px 15px -5px #00000057;
    transform: translateY(-5px);
}

.bottom-toolbar .nav-link.active .fas {
    background: #05670A;
    color: #fff;
    box-shadow: 0px 9px 15px -5px #00000057;
    transform: translateY(-7px);
}


.bottom-toolbar .nav-link img {
    padding: 10px;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #08950F;
    text-align: center;
    display: grid;
    place-content: center;
    border-radius: 6px;
    margin: 0 auto;
    transition: 0.25s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.27);
}

.bottom-toolbar .nav-link:hover img {
    background: #05670A;
    color: #fff;
    box-shadow: 0px 9px 15px -5px #00000057;
    transform: translateY(-5px);
}

.bottom-toolbar .nav-link.active img {
    background: #05670A;
    color: #fff;
    box-shadow: 0px 9px 15px -5px #00000057;
    transform: translateY(-7px);
}

.tooltip {
    font-size: 10px;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
    outline: auto 0px Highlight !important;
    outline: auto 0px -webkit-focus-ring-color !important;
}

.bottom-toolbar-outer {
    display: flex;
    justify-content: center;
    bottom: 50px;
}

.offcanvas-start {
    width: 350px !important;
    top: 90px !important;
    left: 0px;
    bottom: 0px;
    border-radius: 0px;
    /* overflow: hidden; */
    border: 0px;
}

.accordion-button {
    font-size: 15px;
    padding: 0.63rem 1rem;
    border-radius: 4px !important;
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #ffedba;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:focus {
    z-index: 3;
    border-color: #ffc107;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 193 7 / 51%);
}

.offcanvas-body::-webkit-scrollbar {
    background: #ffffff66 !important;
}


.offcanvas-body::-webkit-scrollbar-thumb {
    background: #ffd080 !important;
}

.esri-ui-top-left {
    bottom: auto !important;
    right: 0 !important;
    top: 0 !important;
    left: auto !important;
}

.blur-box {
    background-color: #ffffff !important;
    /* backdrop-filter: blur(7px);
   border-radius: 10px; */
    border: 2px solid #ffffff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%) !important;
}

#change-map-layer {
    position: absolute;
    bottom: 50px;
    left: 20px;
    right: auto;
    z-index: 7;
    border-radius: 10px;
}

#change-map-layer ul li img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.25s;
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important; */
    border: 2px solid #ffffff69;
}

#change-map-layer ul li:hover img {
    border: 2px solid #00000069;
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 27%) !important;
}

.bb2 ul li a {
    transition: 0.25s;
}

.bb2 ul li:hover a {
    transform: scale(1.03);
}

#change-map-layer ul {
    padding: 7px;
    margin-bottom: 0;
    gap: 9px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#change-map-layer ul li {
    margin: 0px 0px;
    text-align: center;
}

#change-map-layer ul li a {
    position: relative;
    text-decoration: none;
    color: #000;
    display: block;
}

#change-map-layer ul li a p {
    margin-top: 10px;
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 27px 0px 4px 0px;
    border-radius: 9px;
    background: linear-gradient(0deg, #000000db, transparent);
    color: white;
}

.blur-box.bb2 {
    left: 117px !important;
    transform: translateX(0px);
    transition: 0.45s;
    opacity: 1;
    visibility: visible;
    display: block;
}

[hidden] {
    display: none !important;
    opacity: 0;
    visibility: hidden;
}

.blur-box.bb2.show {
    transform: translateX(0px) !important;
    transition: 0.45s;
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
}

/*map-css-end*/

.esri-attribution {
    display: none !important;
}


/* old dss css start  */

.rdsidebar {
    left: 0;
    width: 300px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(-100%);
    visibility: hidden;
    position: fixed !important;
    top: 115px !important;
    height: 100%;
    transition: 0.25s;
}

.rdsidebar.sidebar-show {
    transform: none;
    visibility: visible;
    transition: 0.25s;
}


.btn-result {
    background: #fff;
    padding: 10px 20px;
    color: #08950F;
    font-size: 15px;
    border-radius: 100px;
    text-decoration: underline;
}

.btn.btn-result:hover {
    color: #08950F;
    background-color: #fff;
    border-color: #08950F;
}

.disable .btn-result {
    background: #fff;
    padding: 10px 20px;
    color: #C4C4C4;
    border-radius: 100px;
    text-decoration: none;
}

.landmark-text {
    color: #BDBDBD;
    font-size: 12px;
}

.btn-download {
    color: #08950F;
    font-weight: 500;
    border-radius: 100px;
    border: 2px solid #08950f;
    background: #fff;
    transition: 0.5s;
}

.btn-download:hover {
    color: #fff !important;
    background: #08950f !important;
}


/* tool-popup-css start */
.close-drag-window {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.tool-popup {
    position: fixed;
    z-index: 1;
    padding: 0;
    text-align: left;
    overflow: auto;
    width: 400px;
    /* height: 400px; */
    background: #FFFFFF;
    border: 1px solid #8D8D8D;
    box-shadow: 0px 0px 20px rgb(25 25 25 / 20%);
    border-radius: 8px;
    top: 135px;
    right: 5%;
    left: auto;
}

.tool-popup .tool-popup-header {
    background-color: #EEEEEE;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid #8D8D8D;
    margin: 0;
    padding: 10px;
    cursor: move;
    position: relative;
}

.tool-popup-inner {
    background: #fff;
    padding: 20px 20px;
    max-height: 340px;
    overflow: auto;
}

.tool-popup:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 27%);
    z-index: -1;
}

.tool-popup-footer {
    padding: 10px 20px;
    background: white;
    /* box-shadow: 0px 0px 18px 0px #00000018; */
    z-index: 1;
    position: relative;
}

.header-icon {
    width: 18px;
}

.invert {
    filter: invert(1);
}

.btn-tool-popup {
    padding: 10px 20px;
    background: #08950F;
    color: #fff;
    border-radius: 100px;
}

.btn-tool-popup.disabled {
    color: white;
    pointer-events: none;
    background-color: #C4C4C4;
    border-color: #C4C4C4;
    opacity: 1;
}

.btn-link {
    color: #08950F;
    padding: 10px 20px;
    border-radius: 100px;
}

.btn.btn-link:hover {
    color: #08950F;
    background-color: #fff;
    border-color: #08950F;
}

.btn-tool-popup:hover {
    color: #08950F !important;
    background-color: #fff !important;
    border-color: #08950F !important;
}

.bg-privesh {
    background: #08950F !important;
}

.color-privesh {
    color: #08950F !important;
}

/* tool-popup-css end */

.z-index-999 {
    z-index: 999 !important;
}


.fade-text {
    color: #BDBDBD;
}


/*media query Start*/
@media screen and (max-width: 768px) {
    .navbar-nav .nav-link:before {
        content: '';
        position: absolute;
        background: #ffd89d;
        height: 2px;
        width: 0%;
        border-radius: 100px;
        z-index: -1;
        transition: 0.25s;
        bottom: 10px;
        margin: 0 auto;
        left: 16px;
        right: auto;
    }
}

/*media query End*/




::-webkit-scrollbar {
    width: 4px;
    background: #ffffff66;
    height: 4px;
    border-radius: 50px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 4px;
    background: rgb(255, 255, 255);
    height: 4px;
    border-radius: 50px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #6c6c6c;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 50px;
}

.side-left-inner label.form-check-label {
    word-break: break-all;
}

.multiselect-dropdown .dropdown-btn {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem !important;
    -moz-padding-start: calc(0.75rem - 3px) !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
    background-color: #fff !important;
    background-repeat: no-repeat !important;
    background-position: right 0.75rem !important;
    background-size: 36px 12px !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.375rem !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
    -webkit-appearance: none !important;
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
}

.dropdown-multiselect__caret {
    display: none !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
    margin-right: 4px !important;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
    border-radius: 4px !important;
    font-size: 12px !important;
}

/* rd css end */


.mat-bottom-sheet-container {
    padding: 0px !important;
    min-width: 100vw !important;
    max-height: 42vh !important;
}

.mat-bottom-sheet-container .mat-nav-list .mat-list-item {
    margin-bottom: 10px;
}