<button mat-icon-button class="close-button ms-auto d-block" (click)="closeBotton($event)">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<div class="row">
  <div class="col-sm-12">
    <mat-tab-group *ngIf="tableData.rowData[0].tabEnable">
      <mat-tab label={{data.TargetLayer}} *ngFor="let data of tableData.rowData">
        <div *ngIf="data.Results.features.length==0">
          <h4 class="text-danger text-center text-block">No {{data.TargetLayer}} data found within {{data.BufferValue}}
            Km. Buffer Area.</h4>
        </div>
        <table class="table table-striped" *ngIf="data.Results.features.length">
          <thead>
            <tr>
              <th class="text-danger text-center text-wrap text-capitalize">Sr</th>
              <th class="text-danger text-center text-wrap text-capitalize">Buffer Distance</th>
              <th class="text-danger text-center text-wrap text-capitalize"
                *ngFor="let attr of data.Results.features[0].attributes | keyvalue">{{attr.key}}</th>
              <th class="text-danger text-center text-wrap text-capitalize">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data.Results.features;let sr=index">
              <td class="text-primary text-center text-wrap text-capitalize">{{sr+1}}</td>
              <td class="text-primary text-center text-wrap text-capitalize">{{data.BufferValue}}</td>
              <td class="text-primary text-center text-wrap text-capitalize"
                *ngFor="let dict of item.attributes | keyvalue">
                <div *ngIf="dict.key != ''">
                  {{dict.value}}
                </div>
              </td>
              <td>
                <button class="btn btn-sm btn-primary" (click)="handleViewClick(item)"
                  style="line-height: 0.7;">View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
    </mat-tab-group>

    <table class="table table-striped" *ngIf="!tableData.rowData[0].tabEnable">
      <thead>
        <tr>
          <th>Sr</th>
          <th *ngFor="let head of HeadArray">{{head.Head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of GridArray;let sr=index">
          <td>{{sr+1}}</td>
          <td *ngFor="let head of HeadArray">
            <div *ngIf="head.FieldName != ''">
              {{item[head.FieldName]}}
            </div>
            <div *ngIf="(head.FieldName == 'ViewButton' && item.Name !== 'NA' )">
              <button class="btn btn-sm btn-primary" (click)="handleViewClick(item)"
                style="line-height: 0.7;">View</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>