#viewDivSS {
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

#screenshotDiv {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.hide {
  display: none;
}

.img1 {
  border: 10px solid white;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

#screenshotDiv>* {
  margin: 0.5em;
}

.screenshotCursor {
  cursor: crosshair;
}

.action-button {
  padding: 0.6em;
  border: 1px solid #0079c1;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

.action-button:hover,
.action-button:focus {
  background: #0079c1;
  color: white;
}

#maskDiv {
  position: fixed;
  background: rgba(213, 247, 23, 0.1);
  border: 3px dashed rgb(255, 51, 0);
}