<!-- icon start -->
<li class="nav-item" (click)="screenshotIcon('screenshot')">
  <a class="nav-link bottom-menu-btn" aria-current="page" href="javascript:void(0);" data-bs-toggle="tooltip"
    data-bs-placement="bottom" title="Screenshot"><img src="assets/img/icon/10.svg" alt="Toolbar" /></a>
</li>
<!-- icon end -->


<div id="screenshot" class="tool-popup" [hidden]="!screenshotShow">
  <div class="tool-popup-header"> <img class="header-icon invert" src="assets/img/icon/10.svg"> Screenshot
    <i class="fas fa-caret-down close-drag-window px-2 p-1" (click)="screenshotIcon('screenshot')"></i>
  </div>

  <div class="tool-popup-inner esri-widget" id="viewDiv">
    <button type="button" class="btn btn-default btn-xs action-button esri-widget" (click)="screenshotFunc($event)" id="screenshotBtn">Select screenshot
      area</button>
  </div>

</div>
<div id="screenshotDiv" class="hide">
  <img class="js-screenshot-image img1" />
  <div>
    <label>Set a text to be displayed on the image: </label><input type="text" placeholder="Image text" id="textInput"
      value="" autofocus />
  </div>
  <button id="downloadBtn" (click)="downloadHandler()"  class="action-button-ss" aria-label="Download image" title="Download image">
    Download image
  </button>
  <button id="closeBtn" (click)="closeBtnHandler()" class="action-button-ss" aria-label="Back to mapview" title="Back to map view">
    Back to mapview
  </button>

</div>
<div id="maskDiv" class="hide screenshotCursor"></div>
