/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}


.mat-bottom-sheet-container {
  padding: 0px !important;
  min-width: 100vw !important;
  max-height: 42vh !important;
}

.mat-bottom-sheet-container .mat-nav-list .mat-list-item {
  margin-bottom: 10px;
}


.mat-bottom-sheet-container .fa {
  font-size: 44px;
  text-align: center;
}

.mat-bottom-sheet-container .fa-facebook-square {
  color: #425f9c;
}

.mat-bottom-sheet-container .fa-twitter {
  color: #1da1f2;
}

.mat-bottom-sheet-container .fa-instagram {
  color: #f75240;
}

.mat-bottom-sheet-container .fa-linkedin {
  color: #2277b5;
}
